<template name="layouts_header">

{{> header}}
{{> sidebar}}
{{> hidebar}}

</template>

<template name="header">
  
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!"><i class="material-icons left">settings</i>Edit Profile</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!"><i class="material-icons left">power_settings_new</i>Logout</a></li>
</ul>

<nav class="menu-header">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>  
    <a class="dropdown-button" href="#!" data-activates="dropdown1">User<i class="material-icons right">more_vert</i></a>      
  </div>
</nav>
        

</template>

 <template name="sidebar">

 <ul id="slide-out" class="side-nav fixed">
      <li>
      	<a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Media" href="#!">
      		<i class="medium material-icons">camera_alt</i>
      	</a>
      </li>
      <li>
      	<a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Playlist" href="#!">
      		<i class="medium material-icons">camera</i>
      	</a>
      </li>
</ul>

 </template>

<template name="hidebar">

<!-- <a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a> -->
<ul class="side-nav" id="mobile-demo">
    <li>
    	<a href="#!"><i class="small material-icons">camera_alt</i>
    		<div class="mobile-text">Media</div>
    	</a>
    </li>
    <li>
    	<a href="#!.html"><i class="small material-icons">camera</i>
    		<div class="mobile-text">Playlist</div>
    	</a>
    </li>
</ul>

</template>