<template name="layouts_group">
	
<body>
	<div class="container">
		<h2>Group Player</h2>
		<div class="row">
			{{> layouts_groupLeft}}
			{{> layouts_groupRight}}
		</div>
	</div>
</body>

 
</template>

<template name="layouts_groupLeft">
	<div class="col s12 m12 l6">
        <div class="card"><!-- card left -->
          <ul class="collection with-header"><!-- ul card left -->
            <li class="collection-header"><!-- li card left -->
            	<div class="row"><!-- div row card left -->
            		<h1>kiri</h1>
            	</div>
            </li><!-- end li card left -->
          </ul><!-- end ul card left -->
        </div><!-- end card left -->
    </div>
	
</template>

<template name="layouts_groupRight">
	<div class="col s12 m12 l6">
        <div class="card"><!-- card right -->
          <ul class="collection with-header"><!-- ul card right -->
            <li class="collection-header"><!-- li card right -->
            	<div class="row"><!-- div row card right -->
					<h1>kanan</h1>
            	</div>
            </li><!-- end li card right -->
          </ul><!-- end ul card right -->
        </div><!-- end card right -->
    </div>
</template>